.bakeryShopContainer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width:100%;
    margin-top: 50px;
}

.cakeContainer{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width:50%;
}

.iceCreamContainer{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width:50%;
}

.cakeButton{
    margin:10px;
    color: black;
    border-radius: 5px;
    align-self: center;
    width: 40%;
}

.buyCake{
    background-color: green;
}

.returnCake{
    background-color: red;
}

